/* Deux cartes côte à côte */
.charts-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Chaque carte */
.chart-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* Carte + légende */
.chart-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center; /* centre verticalement */
}

/* Carte */
.chart-graph {
    width: 80%;
}

/* Légende */
.legend {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 10px;
    font-size: 13px;

    justify-content: center; /* centre le contenu interne */
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.legend-color {
    width: 18px;
    height: 18px;
    border: 1px solid #333;
}

/* ---------------- SLIDER ---------------- */

.slider-container {
    width: 70%;
    margin: 15px auto 5px auto; /* centré */
}

.slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.slider-bound {
    width: 45px;
    text-align: center;
    font-size: 13px;
}

.slider-inner {
    flex: 1;
}

/* noUiSlider custom */
.noUi-target {
    height: 6px !important;
}

.noUi-handle {
    width: 14px !important;
    height: 14px !important;
    top: -4px !important;
}

.chart-container h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}


.accordion-btn {
  width: 100%;
  padding: 0.7rem;
  background: #2a9d8f;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.accordion-panel {
  display: none;
  padding: 1rem;
  border: 1px solid #ccc;
  background: #fafafa;
}

.category-block {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-left: 6px solid;
  background: #fff;
}

.category-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.category-table {
  width: 100%;
  border-collapse: collapse;
}

.category-table th,
.category-table td {
  border: 1px solid #ddd;
  padding: 0.4rem 0.6rem;
}

.categorie-block {
    margin-bottom: 20px;
}

.categorie-title {
    font-size: 16px;
    margin-bottom: 8px;
}

.code-badge {
    display: inline-block;
    padding: 3px 8px;
    margin-right: 8px;
    color: white;
    border-radius: 4px;
    font-size: 12px;
}

.categorie-block ul {
    list-style: none;
    padding-left: 0;
}

.categorie-block li {
    margin-bottom: 6px;
}
